<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="main">
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="redirect" routerLink="/user">
          <i class="fas fa-sign-out-alt"></i>profile
        </a>
      </li>
      <li class="nav-item">
        <a class="redirect" routerLink="/main-site">
          <i class="fas fa-sign-out-alt"></i>Shop
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="authService.SignOut()">
          <i class="fas fa-sign-out-alt"></i>Log out
        </a>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      Main content here!
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
