.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.main {
  height: 100%;
}

.card-deck-container {
  position: relative;
  border-radius: 2px;
  padding: 10px 10px 30px;
  margin: 10px 10px 10px 10px;
  background-color: #f5f5f5;
}

.card-item {
  padding: 3px 3px 3px 3px;
}
mat-card img{
  object-fit: cover;
  width: 15%;
  height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
}
